.detail {
    width: 100%;
    height: auto;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;

    .detail__links {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: start;

        .detail__links__item {
            font-size: 16px;
            font-weight: 400;
            line-height: 21.6px;
            text-align: left;
            color: #00000099;
            margin-right: 4px;
        }

        .detail__links__item__icon {
            font-size: 14px;
            color: #00000099;
            margin-right: 12px;
        }

        .detail__links__metka {
            font-size: 16px;
            font-weight: 400;
            line-height: 21.6px;
            text-align: left;
            color: #000000;
        }
    }

    .detail__maps {
        width: 100%;
        height: auto;
        display: flex;
        align-items: start;
        justify-content: space-between;
        margin-top: 36px;
        gap: 40px;

        .detail__maps__left {
            display: flex;
            align-items: center;
            gap: 14px;

            .detail__maps__left__group {
                width: auto;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: start;
                flex-direction: column;
                gap: 14px;

                .detail__maps__left__group__img {
                    width: 172px;
                    height: 168px;
                    border-radius: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    background: #F0EEED;

                    .detail__maps__left__group__img__img {
                        width: 80%;
                        height: 80%;
                    }
                }
            }

            .detail__maps__left__box {
                width: 464px;
                height: 530px;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #F0EEED;

                .detail__maps__left__box__img {
                    width: 80%;
                    height: 80%;
                }
            }
        }

        .detail__maps__right {
            width: auto;
            display: flex;
            align-items: start;
            height: auto;
            justify-content: start;
            flex-direction: column;

            .detail__maps__right__title {
                font-size: 40px;
                font-weight: 800;
                line-height: 48px;
                text-align: left;
                max-width: 550px;
                margin-bottom: 14px;
            }

            .detail__maps__right__stars {
                display: flex;
                width: auto;
                align-items: center;
                justify-content: start;
                gap: 16px;
                margin-bottom: 15px;

                .detail__maps__right__stars__icon {
                    font-size: 20px;
                    color: #FFC633;
                }

                .detail__maps__right__stars__text {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 21.6px;
                    text-align: left;
                    color: #000000;
                }
            }

            .detail__maps__right__prices {
                display: flex;
                align-items: center;
                justify-content: start;
                gap: 12px;
                margin-bottom: 18px;

                .detail__maps__right__prices__inc {
                    font-size: 32px;
                    font-weight: 700;
                    line-height: 43.2px;
                    text-align: left;
                    color: #000000;
                }

                .detail__maps__right__prices__dec {
                    font-size: 32px;
                    font-weight: 700;
                    line-height: 43.2px;
                    text-align: left;
                    color: #0000004D;
                }
            }

            .detail__maps__right__desc {
                max-width: 550px;
                font-size: 16px;
                font-weight: 400;
                line-height: 22px;
                text-align: left;
                color: #00000099;
                margin-bottom: 18px;

            }

            .detail__maps__right__line {
                width: 100%;
                height: 1px;
                background: #0000001A;
                margin-bottom: 18px;

            }

            .detail__maps__right__rgb {
                display: flex;
                align-items: start;
                justify-content: start;
                flex-direction: column;
                gap: 16px;
                margin-bottom: 18px;


                .detail__maps__right__rgb__text {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 21.6px;
                    text-align: left;
                    color: #00000099;
                }

                .detail__maps__right__rgb__group {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 16px;

                    .detail__maps__right__rgb__group__radio {
                        width: 37px;
                        height: 37px;
                        border-radius: 50%;
                        background: #4F4631;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 16px;
                        color: #FFFFFF;
                    }

                    .detail__maps__right__rgb__group__radio__two {
                        width: 37px;
                        height: 37px;
                        border-radius: 50%;
                        background: #314F4A;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 16px;
                        color: #FFFFFF;
                    }

                    .detail__maps__right__rgb__group__radio__theree {
                        background: #31344F;
                        width: 37px;
                        height: 37px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 16px;
                        color: #FFFFFF;
                    }
                }
            }

            .detail__maps__right__sizes {
                display: flex;
                align-items: start;
                flex-direction: column;
                gap: 16px;
                margin-bottom: 18px;


                .detail__maps__right__sizes__text {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 21.6px;
                    text-align: left;
                    color: #00000099;
                }

                .detail__maps__right__sizes__group {
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    gap: 12px;

                    .detail__maps__right__sizes__group__btn {
                        width: 86px;
                        height: 46px;
                        border-radius: 62px;
                        background: #F0F0F0;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 21.6px;
                        text-align: center;
                        color: #00000099;
                        text-transform: capitalize;

                        &:hover {
                            background: #000000;
                            color: #FFFFFF;
                            transition: .3s;
                        }
                    }
                }
            }

            .detail__maps__right__counters {
                width: 100%;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: start;
                gap: 20px;

                .detail__maps__right__counters__count {
                    width: 170px;
                    height: 52px;
                    border-radius: 62px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 10px;
                    background: #F0F0F0;

                    .detail__maps__right__counters__count__btn__one {
                        width: 65px;
                        height: 100%;
                        background: none;
                        color: #000000;
                        font-size: 20px;
                        text-align: center;
                        border-radius: 62px 0px 0px 62px;

                        &:hover {
                            background: red;
                            color: #FFFFFF;
                            transition: .3s;
                        }
                    }

                    .detail__maps__right__counters__count__value {
                        width: 40px;
                        height: 100%;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 21.6px;
                        text-align: center;
                        color: #000000;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .detail__maps__right__counters__count__btn__two {
                        width: 65px;
                        height: 100%;
                        background: none;
                        color: #000000;
                        font-size: 20px;
                        text-align: center;
                        border-radius: 0px 62px 62px 0px;

                        &:hover {
                            background: #00ff00;
                            color: #FFFFFF;
                            transition: .3s;
                        }
                    }
                }

                .detail__maps__right__counters__adds {
                    width: 400px;
                    height: 52px;
                    border-radius: 62px;
                    background: #000000;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 21.6px;
                    text-align: center;
                    color: #FFFFFF;

                    &:hover {
                        background: none;
                        border-color: #0000001A;
                        color: #000000;
                        transition: .5s;
                    }
                }
            }
        }
    }
}

@media (max-width: 1330px) {
    .detail {
        .detail__maps {
            flex-direction: column;
            align-items: center;
        }
    }
}

@media (max-width: 680px) {
    .detail {
        .detail__maps {
            .detail__maps__left {
                flex-direction: column-reverse;

                .detail__maps__left__group {
                    flex-direction: row;

                    .detail__maps__left__group__img {
                        width: 111px;
                        height: 106px;
                    }
                }

                .detail__maps__left__box {
                    width: 358px;
                    height: 290px;
                }
            }

            .detail__maps__right {
                .detail__maps__right__title {
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 28px;
                    text-align: left;
                }

                .detail__maps__right__counters {
                    flex-direction: column;
                    align-items: start;
                }
            }
        }
    }
}

@media (max-width: 430px) {
    .detail {
        padding: 0px 16px;

        .detail__maps {
            .detail__maps__right {
                .detail__maps__right__sizes {
                    .detail__maps__right__sizes__group {
                        .detail__maps__right__sizes__group__btn {
                            width: 70px;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 18.9px;
                            text-align: center;
                        }
                    }
                }

                .detail__maps__right__line {
                    width: 340px;
                }

                .detail__maps__right__desc {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px;
                    text-align: left;
                }

                .detail__maps__right__prices {

                    .detail__maps__right__prices__inc,
                    .detail__maps__right__prices__dec {
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 32.4px;
                        text-align: left;
                    }
                }

                .detail__maps__right__counters {
                    .detail__maps__right__counters__adds {
                        width: 270px;
                    }
                }
            }
        }
    }
}