.cards {
    width: 100%;
    height: auto;
    display: flex;
    align-items: start;
    flex-direction: column;

    .cards__top {
        width: 100%;
        height: auto;
        display: flex;
        align-items: start;
        flex-direction: column;
        margin-bottom: 24px;

        .cards__top__gr {
            display: flex;
            align-items: center;
            justify-content: start;
            font-size: 16px;
            font-weight: 400;
            line-height: 21.6px;
            text-align: left;
            color: #00000099;
            margin-right: 4px;
            margin-bottom: 24px;

            .cards__top__gr__icon {
                font-size: 14px;
                margin-right: 12px;
            }
        }

        .cards__top__gr span {
            color: #000000;
        }

        .cards__top__title {
            font-size: 40px;
            font-weight: 800;
            line-height: 48px;
            text-align: left;
            color: #000000;
        }
    }

    .cards__map {
        width: 100%;
        height: auto;
        display: flex;
        align-items: start;
        justify-content: space-between;
        gap: 20px;

        .cards__map__left {
            max-width: 715px;
            width: 100%;
            height: auto;
            padding: 20px 24px;
            border: 1px solid #0000001A;
            border-radius: 20px;
            display: flex;
            align-items: start;
            flex-direction: column;

            .cars__flex {
                width: 100%;
                height: auto;
                margin-bottom: 12px;

                .cards__map__left__box {
                    width: 100%;
                    height: auto;
                    display: flex;
                    align-items: start;
                    justify-content: space-between;

                    .cards__map__left__box__top {
                        width: 124px;
                        height: 124px;
                        border-radius: 8px;
                        background: #F0EEED;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .cards__map__left__box__top__image {
                            width: 85%;
                            height: 85%;
                        }
                    }

                    .cards__map__left__box__center {
                        width: auto;
                        display: flex;
                        align-items: start;
                        justify-content: start;
                        flex-direction: column;
                        flex: 1;
                        margin-left: 16px;


                        .cards__map__left__box__center__title {
                            font-size: 20px;
                            font-weight: 800;
                            line-height: 27px;
                            text-align: left;
                            color: #000000;
                            margin-bottom: 2px;
                            margin-top: 4px;
                        }

                        .cards__map__left__box__center__size {
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 18.9px;
                            text-align: left;
                            color: #000000;
                            margin-bottom: 4px;
                        }

                        .cards__map__left__box__center__size span {
                            color: #00000099;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 18.9px;
                            text-align: left;
                        }

                        .cards__map__left__box__center__price {
                            font-size: 24px;
                            font-weight: 800;
                            line-height: 32.4px;
                            text-align: left;
                            color: #000000;
                            margin-top: 15px;
                        }
                    }

                    .cards__map__left__box__right {
                        width: auto;
                        display: flex;
                        align-items: end;
                        justify-content: end;
                        flex-direction: column;

                        .cards__map__left__box__right__remove__btn {
                            width: 30px;
                            height: 30px;
                            background: none;
                            font-size: 24px;
                            color: #FF3333;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                        .detail__maps__right__counters__count {
                            width: 170px;
                            height: 52px;
                            border-radius: 62px;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            gap: 10px;
                            background: #F0F0F0;
                            margin-top: 36px;

                            .detail__maps__right__counters__count__btn__one {
                                width: 65px;
                                height: 100%;
                                background: none;
                                color: #000000;
                                font-size: 20px;
                                text-align: center;
                                border-radius: 62px 0px 0px 62px;

                                &:hover {
                                    background: red;
                                    color: #FFFFFF;
                                    transition: .3s;
                                }
                            }

                            .detail__maps__right__counters__count__value {
                                width: 40px;
                                height: 100%;
                                font-size: 16px;
                                font-weight: 500;
                                line-height: 21.6px;
                                text-align: center;
                                color: #000000;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }

                            .detail__maps__right__counters__count__btn__two {
                                width: 65px;
                                height: 100%;
                                background: none;
                                color: #000000;
                                font-size: 20px;
                                text-align: center;
                                border-radius: 0px 62px 62px 0px;

                                &:hover {
                                    background: #00ff00;
                                    color: #FFFFFF;
                                    transition: .3s;
                                }
                            }
                        }
                    }
                }

                .cards__map__left__line {
                    width: 100%;
                    height: 1px;
                    border: 1px solid #0000001A;
                    margin-top: 12px;
                }
            }
        }

        .cards__map__right {
            width: 100%;
            height: auto;
            padding: 20px 24px 33px 24px;
            border-radius: 20px;
            border: 1px solid #0000001A;
            display: flex;
            align-items: start;
            flex-direction: column;

            .cards__map__right__text {
                font-size: 24px;
                font-weight: 700;
                line-height: 32.4px;
                text-align: left;
                color: #000000;
                margin-bottom: 24px;
            }

            .cards__map__right__group {
                width: 100%;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 20px;

                .cards__map__right__group__name {
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 27px;
                    text-align: left;
                    color: #00000099;
                }

                .cards__map__right__group__price {
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 27px;
                    text-align: right;
                    color: #000000;
                }

                .cards__map__right__group__price__min {
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 27px;
                    text-align: right;
                    color: #FF3333;
                }
            }

            .cards__map__right__promo__gr {
                width: 100%;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 24px;

                .cards__map__right__promo {
                    max-width: 326px;
                    width: 100%;
                    height: 48px;
                    border-radius: 62px;
                    background: #F0F0F0;
                    display: flex;
                    align-items: center;
                    padding-left: 16px;
                    gap: 12px;

                    .cards__map__right__promo__icon {
                        font-size: 24px;
                        color: #00000066;
                    }

                    .cards__map__right__promo__text {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 21.6px;
                        text-align: left;
                        color: #00000066;
                    }
                }

                .cards__map__right__promo__btn {
                    width: 120px;
                    height: 48px;
                    border-radius: 62px;
                    background: #000000;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 21.6px;
                    text-align: center;
                    color: #FFFFFF;

                    &:hover {
                        background: none;
                        color: #000000;
                        border: 1px solid #0000001A;
                        transition: .2s;
                    }
                }
            }

            .cards__map__right__btn__go {
                width: 100%;
                height: 48px;
                border-radius: 62px;
                background: #000000;
                font-size: 16px;
                font-weight: 500;
                line-height: 21.6px;
                text-align: center;
                color: #FFFFFF;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    background: none;
                    color: #000000;
                    border: 1px solid #0000001A;
                    transition: .2s;
                }
                .cards__map__right__btn__go__icon{
                    font-size: 22px;
                    margin-left: 12px;
                }
            }
        }
    }
}